/target/
.classpath
.project
.settings/
*.zip
.idea/
*.iml
typings
src/main/resources/static/app/**/*.js
src/main/resources/static/app/*.js
src/main/resources/static/app/**/*.map
src/main/resources/static/app/*.map
node_modules
jspm_packages
bower_components
